    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">OShare</a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="">Send</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="">Receive</a>
          </li>
        </ul>
      </div>
      <!-- Navbar content -->
    </nav>    
